---
permalink: /services/
title: Services | Toxicology Expert Witness,  Medical Writing, CME 
description: Board-certified toxicologist and Pennsylvania-registered pharmacist, providing expert testimony and up-to-date, factual information to attorneys, healthcare professionals, and the lay public.
layout: default
show_subnav: true
---

<section class="services">

	{% if page.show_subnav %}
	<div class="subnav">
		<a href="#litigation">Litigation Consultant &amp; Expert Witness</a>
		<a href="#expert">Medical Writer</a>
	</div>
	{% endif %}

	<div class="container--thin">

		<section id="litigation" class="services__section">

			<img class="services__icon" src="/assets/img/icon-litigation.svg" />

			<div class="editable"><p>Litigation Consultant &amp; Expert Witness</p></div>

			<div class="services__body">

				<p>
					<span class="editable">“Writing with the legal community in mind” where toxicology and law can be understood by a diverse audience: attorneys, the lay public, insurance professionals</span>
					<a id="litigation-toggle-more" toggle-target="#litigation-toggle" class="toggle-btn">...&nbsp;more</a>
				</p>

				<div class="toggle" id="litigation-toggle">
					<div class="services__row">
						<div class="services__col editable"><p class="emphasis">Dr. Muller is valued by attorneys for her ability to:</p><ul class="list"><li>Help juries and attorneys clearly understand complex medical issues at levels understood by her audience</li><li>Present accurate, current, and well-researched information for attorneys to assess the complexity and viability of their case</li><li>Connect using eye contact, visuals, and easy-to-understand language</li><li>Write reports and supporting materials that are clear, concise, and understandable</li></ul></div>

						<div class="services__col editable">

							<p class="emphasis">Dr. Muller provides written reports and expert testimony in the following areas for both plaintiffs and defendants:</p>

							<ul class="list">
								<li>Medication errors and adverse drug reactions</li>

								<li>Poisonings (pediatric and adult; accidental and intentional)</li>

								<li>Alcohol or drug-related motor vehicle accidents</li>

								<li>Carbon monoxide exposures</li>

								<li>Chemical exposures (such as occupational-related exposures)</li>

								<li>Environmental issues (such as pesticides, herbicides)</li>
							</ul>

						</div>

					</div>
				</div>

			</div>

			<div toggle-target="#litigation-toggle" class="toggle-icon toggle-btn">
				<img src="/assets/img/icon-more.svg" />
			</div>

		</section>


		<section id="expert" class="services__section">

			<img class="services__icon" src="/assets/img/icon-expert.svg" />

			<div class="editable">Medical Writer</div>

			<div class="services__body">

				<p>
					<span class="editable">“Writing with the patient in mind” for a variety of healthcare audiences: physicians, pharmacists, nurses, and patients</span>
					<a id="expert-toggle-more" toggle-target="#expert-toggle" class="toggle-btn">...&nbsp;more</a>
				</p>

				<div class="toggle" id="expert-toggle">
					<div class="editable"><p class="emphasis">Her experience in promotional and accredited education (CME/CE) includes:</p><p>Journal articles, slide decks, posters, abstracts, website content, expert faculty interviews, newsletters, web-based education, needs assessments, and patient-focused educational materials</p></div>
				</div>

			</div>

			<div toggle-target="#expert-toggle" class="toggle-icon toggle-btn">
				<img src="/assets/img/icon-more.svg" />
			</div>

		</section>


	</div>
</section>

<!-- removed component below for default white paper call to action-->
<!-- {% include components/services_call_to_action.html %} -->
