<meta charset="utf-8">
<title>
	{% if page.title %}
		{{page.title}}
	{% else %}
		{{site.title}}
	{% endif %}
</title>

<meta http-equiv="x-ua-compatible" content="ie=edge">
{% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
<meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">

<link rel="stylesheet" href="/assets/css/app.css">

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-touch-icon-57x57.png?v=eEEXwGYPk7">
<link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-touch-icon-152x152.png?v=eEEXwGYPk7">
<link rel="icon" type="image/png" href="/favicon/favicon-32x32.png?v=eEEXwGYPk7" sizes="32x32">
<link rel="icon" type="image/png" href="/favicon/favicon-194x194.png?v=eEEXwGYPk7" sizes="194x194">
<link rel="icon" type="image/png" href="/favicon/android-chrome-192x192.png?v=eEEXwGYPk7" sizes="192x192">
<link rel="icon" type="image/png" href="/favicon/favicon-16x16.png?v=eEEXwGYPk7" sizes="16x16">
<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg?v=eEEXwGYPk7" color="#586ba4">
