<meta charset="utf-8">
<title>
	{% if page.title %}
		{{page.title}} | {{site.title}}
	{% else %}
		{{site.title}}
	{% endif %}
</title>

<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">

<link rel="apple-touch-icon" href="apple-touch-icon.png">

<link rel="stylesheet" href="/assets/css/app.css">

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-touch-icon-57x57.png?v=eEEXwGYPk7">
<link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-touch-icon-60x60.png?v=eEEXwGYPk7">
<link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-touch-icon-72x72.png?v=eEEXwGYPk7">
<link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-touch-icon-76x76.png?v=eEEXwGYPk7">
<link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-touch-icon-114x114.png?v=eEEXwGYPk7">
<link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-touch-icon-120x120.png?v=eEEXwGYPk7">
<link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-touch-icon-144x144.png?v=eEEXwGYPk7">
<link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-touch-icon-152x152.png?v=eEEXwGYPk7">
<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon-180x180.png?v=eEEXwGYPk7">
<link rel="icon" type="image/png" href="/favicon/favicon-32x32.png?v=eEEXwGYPk7" sizes="32x32">
<link rel="icon" type="image/png" href="/favicon/favicon-194x194.png?v=eEEXwGYPk7" sizes="194x194">
<link rel="icon" type="image/png" href="/favicon/favicon-96x96.png?v=eEEXwGYPk7" sizes="96x96">
<link rel="icon" type="image/png" href="/favicon/android-chrome-192x192.png?v=eEEXwGYPk7" sizes="192x192">
<link rel="icon" type="image/png" href="/favicon/favicon-16x16.png?v=eEEXwGYPk7" sizes="16x16">
<link rel="manifest" href="/favicon/manifest.json?v=eEEXwGYPk7">
<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg?v=eEEXwGYPk7" color="#586ba4  ">
<link rel="shortcut icon" href="/favicon/favicon.ico?v=eEEXwGYPk7">
<meta name="apple-mobile-web-app-title" content="Acri Muller Consulting">
<meta name="application-name" content="Acri Muller Consulting">
<meta name="msapplication-TileColor" content="#da532c  ">
<meta name="msapplication-TileImage" content="/favicon/mstile-144x144.png?v=eEEXwGYPk7">
<meta name="msapplication-config" content="/favicon/browserconfig.xml?v=eEEXwGYPk7">
<meta name="theme-color" content="#f5f4f0  ">