.blog {


	&__content {
		border-top: 1px solid fade-out(#586BA4, 0.6);
	}

	&__container {
		width: 90%;
		margin: 0px auto;
		max-width: 1280px;
		position: relative;
	}

	&__body {
		min-height: 800px;
		text-align: left;
		padding: 0px 0px 50px 0px;
		overflow: auto;

		@include breakpoint(medium) {
			width: 90%;
			margin: 0px auto;
		}

		@include breakpoint(large) {
			width: auto;
			margin: 0px 310px 0px 0px;
			padding: 0px 40px 50px 0px;
		}

		h1, h2, h3, h4, h5, h6 {
			margin-top: 1.5em;
			margin-bottom: 0.9em;
		}

		h1 {

		}
		h2 {

		}
		h3 {

		}
		h4 {

		}

		hr {
			border-color: fade-out($body-font-color, 0.7);
			opacity: 1;
		}

		blockquote {
			padding-top: 0px;
			color: #FFF;
			border-color: fade-out($body-font-color, 0.7);

			p {
				color: $body-font-color;
			}

		}

		iframe {
			max-width: 100%;
		}

		img {
			max-width: 100%;
			text-align: center;
		}

		ul, ol {
			list-style-position: outside;
			margin-left: 1.25em;
		}

	}

	&__post {

		margin-top: 50px;
		margin-bottom: 80px;
		font-size: 15px;
		color: $dark-gray;

		&__date {
			display: block;
			color: $primary-color;
			text-transform: uppercase;
			font-size: 10px;
			font-family: $font-sans-bold;
			margin-bottom: 40px;
			margin-top: 0px;

			@include breakpoint(medium){
				margin-top: -10px;
			}
		}

		&__categories {

			margin-top: 40px;

			a {
				display: inline-block;
				height: 36px;
				padding: 0px 15px;
				line-height: 37px;
				border-radius: 18px;
				margin-right: 15px;
				margin-bottom: 15px;
				color: $primary-color-light;
				border: 1px solid $primary-color-light;
				transition: all 0.3s;
				text-transform: uppercase;
				font-family: $font-sans-bold;
				font-size: 10px;

				&:hover {
					color: $white;
					border: 1px solid $white;
					background-color: $primary-color-light;
				}
			}
		}
	}

	&__sidebar {
		position: absolute;
		right: 0px;
		top: 0px;
		width: 310px;
		padding: 30px 0px 30px 30px;
		height: 100%;
		border-left: 1px solid fade-out(#586BA4, 0.6);
		text-align: left;
		@include show-for(large);


		&__title {
			display: block;
			margin-top: 30px;
			margin-bottom: 20px;
			color: #A1A2A7;
			font-size: 19px;
		}

		&__categories {

			span {
				display: block;
				margin-bottom: 15px;
			}

			a {
				font-size: 17px;
				margin-bottom: 10px;
				display: block;
				color: #E09F7D;
			}
		}

		&__call-to-action {
			display: block;
			margin-top: 50px;
			background-color: $body_background_darkest;
			margin-left: -30px;
			line-height: 1.7em;
			color: $primary-color-light;
			font-size: 15px;
			text-align: center;
			padding: 30px 0px 80px 0px;
			background-image: url(/assets/img/icon-cta.svg);
			background-repeat: no-repeat;
			background-position: bottom 30px center;
			transition: all 0.3s;

			@include breakpoint(large) {
				font-size: 17px;
			}

			&:hover {
				color: $primary-color-light;
				background-color: #2a2b2f;
			}

			span {
				display: block;
				margin-top: 20px;
				font-size: 13px;
				line-height: 1.5em;
			}
		}

		&__contact {

			padding-top: 20px;

			div {

			}
			span {
				display: block;
				font-size: 15px;
				margin-bottom: 15px;
			}


			a {
				display: block;
				text-align: center;
				font-size: 15px;
				margin-left: -20px;

				img {

					display: block;
					margin: 50px auto 20px auto;
				}

				&:hover {
					color: $body-background-darkest;
				}
			}
		}
	}

	&__category-bar {
		height: 50px;
		line-height: 50px;
		background-color: $primary-color;
		color: $white;
		text-align: left;
		font-size: 15px;
		@include hide-for(large);

		img {
			margin-left: 5px;
		}

		&__container {
			width: 90%;
			margin: 0px auto;

			@include breakpoint(medium) {
				width: 80%;
			}
		}

		&__dropdown {

			&.active {
				div {
					opacity: 1;
					pointer-events: all;
					transform: translateY(-1px);
				}
			}

			div {

				background-color: fade-out($primary-color, 0.1);
				width: 200px;
				margin-left: -10px;
				position: absolute;
				z-index: 100;
				line-height: 40px;
				padding-bottom: 5px;
				padding-top: 5px;
				transition: all 0.3s;

				transform: translateY(-20px);
				opacity: 0;
				pointer-events: none;

				a {
					color: $white;
					display: block;
					padding-left: 10px;
					transition: all 0.2s;

					&:hover {
						background-color: $primary-color;
					}
				}
			}
		}
	}
}



.paginator {
	height: 22px;
	font-family: $font-sans-bold;
	font-size: 12px;

	a {
		color: fade-out($body-background-dark, 0.3);

		&:hover {
			color: fade-out($body-background-dark, 0);
		}
	}

	.inactive {
		opacity: 0.5;
		pointer-events: none;
	}

	&__next {
		float: right;
		background-image: url(/assets/img/icon-next.svg);
		background-repeat: no-repeat;
		background-position: center right;
		padding-right: 32px;
		height: 22px;
		line-height: 25px;

	}

	&__prev {
		float: left;
		background-image: url(/assets/img/icon-prev.svg);
		background-repeat: no-repeat;
		background-position: center left;
		padding-left: 32px;
		height: 22px;
		line-height: 25px;

	}
}
