.blog {


	&__content {
		border-top: 1px solid fade-out(#586BA4, 0.6);
	}

	&__container {
		position: relative;
		overflow: auto;
	}

	&__body {
		min-height: 800px;
		text-align: left;
		padding: 0px 30px 50px 30px;
		overflow: auto;

		@include breakpoint(medium) {
			margin-right: 200px;
		}
		@include breakpoint(large) {
			margin-right: 300px;
		}

	}

	&__post {

		margin-top: 50px;
		margin-bottom: 80px;
		font-size: 15px;
		color: $dark-gray;

		&__date {
			display: block;
			color: $primary-color;
			text-transform: uppercase;
			font-size: 10px;
			font-family: $font-sans-bold;
			margin-bottom: 40px;
			margin-top: 20px;
		}

		&__categories {

			margin-top: 40px;

			a {
				display: inline-block;
				height: 36px;
				padding: 0px 15px;
				line-height: 37px;
				border-radius: 18px;
				margin-right: 15px;
				color: $primary-color-light;
				border: 1px solid $primary-color-light;
				transition: all 0.3s;
				text-transform: uppercase;
				font-family: $font-sans-bold;
				font-size: 10px;

				&:hover {
					color: $white;
					border: 1px solid $white;
					background-color: $primary-color-light;
				}
			}
		}
	}

	&__sidebar {
		position: absolute;
		right: 0px;
		top: 0px;
		width: 200px;
		padding: 30px;
		height: 100%;
		border-left: 1px solid fade-out(#586BA4, 0.6);
		text-align: left;
		@include show-for(medium);

		@include breakpoint(large) {
			width: 300px;
		}

		&__categories {

			margin-top: 30px;
			color: #A1A2A7;
			font-size: 19px;

			span {
				display: block;
				margin-bottom: 15px;
			}

			a {
				font-size: 17px;
				margin-bottom: 10px;
				display: block;
				color: #E09F7D;
			}
		}
	}
}
