// --------------------------------------------------
// Font Classes
// --------------------------------------------------

.font-size-large {
	font-size: 18px;
	
	@include breakpoint(medium){
		font-size: 20px;
	}
	@include breakpoint(large){
		font-size: 24px;
	}
}

.font-size-regular {
	font-size: 17px;
	
	@include breakpoint(medium){
		font-size: 18px;
	}
	@include breakpoint(large){
		font-size: 19px;
	}
}


.font-size-small {
	font-size: 14px;
	
	@include breakpoint(medium){
		font-size: 16px;
	}
	@include breakpoint(large){
		font-size: 17px;
	}
}

.font-size-xsmall {
	font-size: 10px;
	
	@include breakpoint(medium){
		font-size: 12px;
	}
	@include breakpoint(large){
		font-size: 14px;
	}
}


@mixin bg-dark(){
	
}


// --------------------------------------------------
// Layout default
// --------------------------------------------------
body {
	font-family: $font-serif-regular;
	@extend .font-size-regular;
	text-align: center;
}

.container {
	max-width: 1440px;
	width: 90%;
	margin: 0px auto;
	position: relative;
}

.container--thin {
	width: 90%;
	margin: 0px auto;
	position: relative;
	margin: 0px auto;
	max-width: 1280px;
	
	@include breakpoint(medium){
		width: 85%;
	}
	@include breakpoint(large){
		width: 70%;
	}
}

.navbar {
	
	@extend .container;
	margin-top: 10px;
	height: 60px;
	overflow: auto;
	
	@include breakpoint(medium) {
		height: 90px;
	}
	
	
	&__logo {
		position: absolute;
		left: 0px;
		opacity: 0.7;
		transition: all 0.3s;
		
		&:hover {
			opacity: 1;
		}
		
		img {
			width: 36px;
			
			@include breakpoint(medium) {
				width: 50px;
				margin-top: 10px;
			}
		}
	}
	
	
	&__expand {
		position: absolute;
		right: 0px;
		top: 5px;
		@include hide-for(medium);
		opacity: 0.7;
		transition: all 0.3s cubic-bezier(.8, .01, .56, .99);
		cursor: pointer;
		
		&:hover {
			opacity: 1;
			transform: rotate(180deg);
		}
	}
	
	&__contact {
		position: absolute;
		right: 50px;
		top: 5px;
		text-align: right;
		display: block;
		color: $medium-gray;
		transition: all 0.3s;
		opacity: 0.7;
		
		&:hover {
			color: $secondary-color;
			opacity: 1;
		}
		
		@include breakpoint(medium){
			top: 16px;
			right: 0px;
		}
		
		img {
			margin-right: 8px;
		}
		
		&__label {
			@include show-for(medium);
			font-family: $font-sans-bold;
			font-size: 13px;
			
		}
	}
	
	&__list {
		
		@include show-for(medium);
		@include grid-row;
		width: 60%;
		max-width: 500px;
		margin-top: 17px;
		padding: 0px;
		text-align: center;
		margin-left: 50px;
		
		li {
			@include grid-column(4);
			list-style-type: none;
			padding: 0px;
			margin: 0px;
			
			a {
				font-family: $font-sans-bold;
				font-size: 13px;
				color: $medium-gray;
				transition: all 0.3s;
				
				&:hover {
					color: $secondary-color;
				}
				&.active {
					color: $secondary-color;
				}
			}
		}
	}
}



.profile {
	@extend .container--thin;
	
	&__img {
		max-width: 300px;
		width: 60%;
		margin: 0px auto;
		display: block;
		margin-top: 20px;
		margin-bottom: 50px;
	}
	
	
}


.downarrow {
	img {
		display: block;
		margin: 50px auto 20px auto;
	}
	
	@include breakpoint(medium) {
		margin: 60px auto 30px auto;
	}
}

.off-canvas-content {
	overflow: auto;
	min-height: 100%;
}
.off-canvas {
	height: 100%;
	position: fixed;
}




.profile-img {
	max-width: 300px;
	width: 60%;
	margin: 0px auto;
	display: block;
	margin-top: 40px;
	margin-bottom: 50px;
}


.subheading {
	display: block;
	color: $secondary-color;
	font-family: $font-sans-bold;
	@extend .font-size-xsmall;
	margin-bottom: 40px;
}



.services-grid {
	color: $white;
	width: 100vw;
	background-color: $body-background-dark;
	padding: 60px 0px 40px 0px;
	margin-top: 40px;
	text-align: center;
	
	&__row {
		margin-top: 50px;
		@include grid-row;
	}
	
	&__col {
		@include grid-column(12);
		@extend .font-size-small;
		text-align: center;
		margin-bottom: 0px;
		min-height: 280px;
		padding-left: 30px;
		padding-right: 30px;
		
		@include breakpoint(medium){
			@include grid-column(6);
			min-height: 300px;
			padding-left: 30px;
			padding-right: 30px;
		}
		
		img {
			max-width: 250px;
			display: block;
			margin: 0px auto;
			margin-bottom: 50px;
			margin-top: 40px;
		}
	}
}




.pages-grid {
	
	background-color: #dedddd;
	
	&__row {
		@include grid-row;
		max-width: 1440px;
		margin: 0px auto;
	}
	&__col {
		color: $white;
		font-family: $font-sans-bold;
		font-size: 15px;
		height: 180px;
		line-height: 180px;
		@include grid-column(6);
		transition: all 0.3s;
		
		&:hover {
			color: #FFF;
		}
		
		
		@include breakpoint(medium) {
			@include grid-column(3);
		}
		
		&--services {
			background-color: #F69B81;
			
			&:hover {
				background-color: #f0ab97;
			}
		}
		&--about {
			background-color: #BF2246;
			
			&:hover {
				background-color: #de5d7a;
			}
		}
		&--contact {
			background-color: #90689C;
			
			&:hover {
				background-color: #b990c6;
			}
		}
		&--home {
			background-color: #85B4D2;
			
			&:hover {
				background-color: #add0e6;
			}
		}
	}
}

.footer {
	
	font-size: 15px;
	padding-bottom: 40px;
	
	&__logo {
		display: block;
		margin: 80px auto 40px auto;
	}
	
	&__company-name {
		display: block;
		font-family: $font-serif-bold;
	}
	
	&__meta {
		margin-top: 20px;
		margin-bottom: 20px;
		display: block;
		font-family: $font-serif-regular;
	}
	
}



.about {
	color: $white;
	width: 100vw;
	background-color: $body-background-dark;
	padding: 60px 0px 40px 0px;
	margin-top: 40px;
	text-align: center;
	color: $white;
}


.linkedin-icon {
	
	max-width: 400px;
	margin: 70px auto 40px auto;
	color: $secondary-color;
	display: block;
	opacity: 0.7;
	transition: opacity 0.2s;
	
	img {
		display: block;
		margin: 20px auto 20px auto;
		transition: opacity 0.2s;
	}
	
	&:hover {
		opacity: 1;
		color: $secondary-color;
		transition: opacity 0.2s;
	}
}


.content-head {
	@extend .font-size-large;
	margin-bottom: 70px;
	margin-top: 10px;
}
.content-body {
	@extend .font-size-small;
	text-align: left;
}








.contact {
	color: $white;
	width: 100vw;
	background-color: $body-background-dark;
	padding: 60px 0px 40px 0px;
	margin-top: 40px;
	text-align: center;
	color: $white;
	
	a {
		color: $secondary-color;
	}
	
	&__icon {
		display: block;
		margin: 20px auto 60px auto;
	}
	
	&__info {
		@extend .font-size-large;
		margin-bottom: 40px;
	}
	
	&__vcard {
		max-width: 400px;
		margin: 70px auto 70px auto;
		color: $white;
		display: block;
		opacity: 0.7;
		transition: opacity 0.2s;

		img {
			display: block;
			margin: 20px auto 20px auto;
			transition: opacity 0.2s;
		}

		&:hover {
			opacity: 1;
			color: $secondary-color;
			transition: opacity 0.2s;
		}
	}
}