// --------------------------------------------------
// Font Classes
// --------------------------------------------------

.font-size-large {
	font-size: 18px;
	
	@include breakpoint(medium){
		font-size: 19px;
	}
	@include breakpoint(large){
		font-size: 21px;
	}
}

.font-size-regular {
	font-size: 17px;
	
	@include breakpoint(medium){
		font-size: 18px;
	}
	@include breakpoint(large){
		font-size: 19px;
	}
}


.font-size-small {
	font-size: 14px;
	
	@include breakpoint(medium){
		font-size: 16px;
	}
	@include breakpoint(large){
		font-size: 17px;
	}
}

.font-size-xsmall {
	font-size: 10px;
	
	@include breakpoint(medium){
		font-size: 12px;
	}
	@include breakpoint(large){
		font-size: 14px;
	}
}


// --------------------------------------------------
// Layout default
// --------------------------------------------------
body {
	font-family: $font-serif-regular;
	@extend .font-size-regular;
	text-align: center;
}

.container {
	max-width: 1440px;
	width: 90%;
	margin: 0px auto;
	position: relative;
}

.container--thin {
	width: 90%;
	margin: 0px auto;
	position: relative;
	margin: 0px auto;
	max-width: 1280px;
	
	@include breakpoint(medium){
		width: 80%;
	}
	@include breakpoint(large){
		width: 70%;
	}
}

.navbar {
	
	@extend .container;
	margin-top: 10px;
	height: 50px;
	overflow: auto;
	
	@include breakpoint(medium) {
		height: 60px;
	}
	
	
	&__logo {
		position: absolute;
		left: 0px;
		opacity: 0.7;
		transition: all 0.3s;
		
		&:hover {
			opacity: 1;
		}
		
		img {
			width: 36px;
			
			@include breakpoint(medium) {
				width: 50px;
				margin-top: 10px;
			}
		}
	}
	
	
	&__expand {
		position: absolute;
		right: 0px;
		top: 5px;
		@include hide-for(medium);
		opacity: 0.7;
		transition: all 0.3s cubic-bezier(.8, .01, .56, .99);
		
		&:hover {
			opacity: 1;
			transform: rotate(180deg);
		}
	}
	
	&__list {
		
		margin: 17px 0px 0px 0px;
		padding: 0px;
		width: 80%;
		@include show-for(medium);
		@include grid-row;
		
		li {
			@include grid-column(3);
			text-align: center;
			list-style-type: none;
			padding: 0px;
			margin: 0px;
			
			a {
				font-family: $font-sans-bold;
				font-size: 13px;
				color: $medium-gray;
				
				&:hover {
					color: $primary-color;
				}
				&.active {
					color: $primary-color;
				}
			}
		}
	}
}



.profile {
	@extend .container--thin;
	
	&__img {
		max-width: 300px;
		width: 60%;
		margin: 0px auto;
		display: block;
		margin-top: 40px;
		margin-bottom: 50px;
	}
	
	
}


.downarrow {
	img {
		display: block;
		margin: 50px auto 20px auto;
	}
	
	@include breakpoint(medium) {
		margin: 60px auto 30px auto;
	}
}

.off-canvas-content {
	overflow: auto;
	min-height: 100%;
}
.off-canvas {
	height: 100%;
	position: fixed;
}




.profile-img {
	max-width: 300px;
	width: 60%;
	margin: 0px auto;
	display: block;
	margin-top: 40px;
	margin-bottom: 50px;
}


.subheading {
	display: block;
	color: $secondary-color;
	font-family: $font-sans-bold;
	@extend .font-size-xsmall;
	margin-bottom: 40px;
}


.services-grid {
	@extend .font-size-large;
	color: $white;
	width: 100vw;
	background-color: $body-background-dark;
	padding: 60px 0px 40px 0px;
	margin-top: 40px;
	text-align: center;
	
	&__row {
		margin-top: 50px;
		@include grid-row;
	}
	
	&__col {
		@include grid-column(12);
		@extend .font-size-small;
		text-align: center;
		margin-bottom: 0px;
		min-height: 280px;
		
		@include breakpoint(medium){
			@include grid-column(6);
			min-height: 300px;
		}
		
		img {
			max-width: 250px;
			display: block;
			margin: 0px auto;
			margin-bottom: 50px;
			margin-top: 40px;
		}
	}
}