// --------------------------------------------------
// Font Classes
// --------------------------------------------------

.font-size-large {
	font-size: 18px;
	
	@include breakpoint(medium){
		font-size: 20px;
	}
	@include breakpoint(large){
		font-size: 24px;
	}
}

.font-size-regular {
	font-size: 17px;
	
	@include breakpoint(medium){
		font-size: 18px;
	}
	@include breakpoint(large){
		font-size: 19px;
	}
}


.font-size-small {
	font-size: 14px;
	
	@include breakpoint(medium){
		font-size: 16px;
	}
	@include breakpoint(large){
		font-size: 17px;
	}
}

.font-size-xsmall {
	font-size: 10px;
	
	@include breakpoint(medium){
		font-size: 12px;
	}
	@include breakpoint(large){
		font-size: 14px;
	}
}



// --------------------------------------------------
// Layout default
// --------------------------------------------------
body {
	font-family: $font-serif-regular;
	@extend .font-size-regular;
	text-align: center;
}

.container {
	max-width: 1440px;
	width: 90%;
	margin: 0px auto;
	position: relative;
}

.container--thin {
	width: 90%;
	margin: 0px auto;
	position: relative;
	max-width: 1280px;
	
	@include breakpoint(medium){
		width: 85%;
	}
	@include breakpoint(large){
		width: 70%;
	}
}

.navbar {
	
	@extend .container;
	margin-top: 10px;
	height: 60px;
	overflow: auto;
	
	@include breakpoint(medium) {
		height: 90px;
	}
	
	
	&__logo {
		position: absolute;
		left: 0px;
		opacity: 0.7;
		transition: all 0.3s;
		
		&:hover {
			opacity: 1;
		}
		
		img {
			width: 36px;
			
			@include breakpoint(medium) {
				width: 50px;
				margin-top: 10px;
			}
		}
	}
	
	
	&__expand {
		position: absolute;
		right: 0px;
		top: 6px;
		@include hide-for(medium);
		opacity: 0.7;
		transition: all 0.3s cubic-bezier(.8, .01, .56, .99);
		cursor: pointer;
		
		&:hover {
			opacity: 1;
			transform: rotate(180deg);
		}
	}
	
	&__contact {
		position: absolute;
		right: 50px;
		top: 5px;
		text-align: right;
		display: block;
		color: $medium-gray;
		transition: all 0.3s;
		opacity: 0.7;
		
		&:hover {
			color: $secondary-color;
			opacity: 1;
		}
		
		&.active {
			color: $secondary-color;
			opacity: 1;
		}
		
		@include breakpoint(medium){
			top: 18px;
			right: 0px;
		}
		
		img {
			margin-right: 8px;
		}
		
		&__label {
			@include show-for(medium);
			font-family: $font-sans-bold;
			font-size: 13px;
			
		}
	}
	
	&__list {
		
		@include show-for(medium);
		@include grid-row;
		width: 60%;
		max-width: 500px;
		margin-top: 17px;
		padding: 0px;
		text-align: center;
		margin-left: 50px;
		
		li {
			@include grid-column(4);
			list-style-type: none;
			padding: 0px;
			margin: 0px;
			
			a {
				font-family: $font-sans-bold;
				font-size: 13px;
				color: $medium-gray;
				transition: all 0.3s;
				
				&:hover {
					color: $secondary-color;
				}
				&.active {
					color: $secondary-color;
				}
			}
		}
	}
}



.mobile-menu {
	
	position: fixed;
	width: 100%;
	
	img {
		margin-top: 40px;
		margin-bottom: 40px;
		width: 60%;
	}
	
	.menu {
		li {
			a {
				font-family: $font-serif-regular;
				color: $primary-color;
				outline: 0;
				
				@extend .font-size-regular;
				
				&:focus {
					outline: 0;
				}
				&:hover {
					color: $secondary-color;
				}
			}
		}
	}
}







.profile {
	@extend .container--thin;
	
	&__img {
		max-width: 300px;
		width: 60%;
		margin: 0px auto;
		display: block;
		margin-top: 20px;
		margin-bottom: 50px;
	}
	
	
}

.subheading {
	display: block;
	color: $secondary-color;
	font-family: $font-sans-bold;
	@extend .font-size-xsmall;
	margin-bottom: 20px;
	
	&--second {
		display: block;
		margin-bottom: 50px;
		font-size: 10px;
		color: $medium-gray;
		font-family: $font-sans-bold;
	}
}

.profile-img {
	max-width: 300px;
	width: 60%;
	margin: 0px auto;
	display: block;
	margin-top: 40px;
	margin-bottom: 50px;
}







.downarrow {
	img {
		display: block;
		margin: 50px auto 20px auto;
	}
	
	@include breakpoint(medium) {
		margin: 60px auto 30px auto;
	}
}

.off-canvas-content {
	overflow: auto;
	min-height: 100%;
}
.off-canvas {
	height: 100%;
	position: fixed;
}







.services-grid {
	color: $white;
	width: 100vw;
	background-color: $body-background-dark;
	padding: 60px 0px 40px 0px;
	margin-top: 40px;
	text-align: center;
	
	&__row {
		margin-top: 50px;
		@include grid-row;
	}
	
	&__col {
		@include grid-column(12);
		@extend .font-size-small;
		text-align: center;
		margin-bottom: 0px;
		min-height: 280px;
		padding-left: 30px;
		padding-right: 30px;
		
		@include breakpoint(medium){
			@include grid-column(6);
			min-height: 300px;
			padding-left: 30px;
			padding-right: 30px;
		}
		
		img {
			max-width: 250px;
			display: block;
			margin: 0px auto;
			margin-bottom: 50px;
			margin-top: 40px;
		}
	}
}






.pages-grid {
	
	background-color: #dedddd;
	
	&__row {
		@include grid-row;
		max-width: 1440px;
		margin: 0px auto;
	}
	&__col {
		color: $white;
		font-family: $font-sans-bold;
		font-size: 15px;
		height: 180px;
		line-height: 180px;
		@include grid-column(6);
		transition: all 0.3s;
		
		&:hover {
			color: #FFF;
		}
		
		
		@include breakpoint(medium) {
			@include grid-column(3);
		}
		
		&--services {
			background-color: #F69B81;
			
			&:hover {
				background-color: #f0ab97;
			}
		}
		&--about {
			background-color: #BF2246;
			
			&:hover {
				background-color: #de5d7a;
			}
		}
		&--contact {
			background-color: #90689C;
			
			&:hover {
				background-color: #b990c6;
			}
		}
		&--home {
			background-color: #85B4D2;
			
			&:hover {
				background-color: #add0e6;
			}
		}
	}
}

.footer {
	
	font-size: 15px;
	padding-bottom: 40px;
	
	&__logo {
		display: block;
		margin: 80px auto 40px auto;
	}
	
	&__company-name {
		display: block;
		font-family: $font-serif-bold;
	}
	
	&__meta {
		margin-top: 20px;
		margin-bottom: 20px;
		display: block;
		font-family: $font-serif-regular;
	}
	
}



.subnav {
	@include show-for('medium');
	height: 50px;
	background-color: $primary-color;
	font-size: 15px;
	line-height: 50px;
	
	a {
		color: $white;
		padding: 0px 30px;
		transition: color 0.2s;
		
		&:hover {
			color: $secondary-color;
		}
	}
}


.about {
	color: $white;
	width: 100%;
	background-color: $body-background-dark;
	padding: 60px 0px 40px 0px;
	margin-top: 40px;
	text-align: center;
	color: $white;
}


.social-icon {
	
	max-width: 400px;
	margin: 70px auto 40px auto;
	color: $secondary-color;
	display: block;
	opacity: 0.7;
	transition: opacity 0.2s;
	
	img {
		display: block;
		margin: 20px auto 20px auto;
		transition: opacity 0.2s;
	}
	
	&:hover {
		opacity: 1;
		color: $secondary-color;
		transition: opacity 0.2s;
	}
}



.content-head {
	@extend .font-size-large;
	margin-bottom: 70px;
	margin-top: 10px;
}
.content-body {
	@extend .font-size-small;
	text-align: left;
}








.contact {
	
	color: $white;
	width: 100%;
	background-color: $body-background-dark;
	padding: 60px 0px 40px 0px;
	margin-top: 40px;
	text-align: center;
	color: $white;
	
	a {
		color: $secondary-color;
	}
	
	&__icon {
		display: block;
		margin: 20px auto 60px auto;
	}
	
	&__info {
		@extend .font-size-large;
		margin-bottom: 40px;
	}
	
	&__vcard {
		max-width: 400px;
		margin: 70px auto 70px auto;
		color: $white;
		display: block;
		opacity: 0.7;
		transition: opacity 0.2s;

		img {
			display: block;
			margin: 20px auto 20px auto;
			transition: opacity 0.2s;
		}

		&:hover {
			opacity: 1;
			color: $secondary-color;
			transition: opacity 0.2s;
		}
	}
}


.emphasis {
	color: $secondary-color;
}


.services {
	
	color: $white;
	width: 100%;
	background-color: $body-background-dark;
	padding: 0px 0px 40px 0px;
	margin-top: 40px;
	text-align: center;
	color: $white;
	overflow: auto;
	@extend .font-size-large;
	
	&__section {
		
		margin-bottom: 50px;
		
		&:last-child {
			border-top: 1px solid $medium-gray;
			margin-bottom: 20px;
		}
	}
	
	&__icon {
		display: block;
		margin: 60px auto 50px auto;
	}

	&__body {
		margin-top: 50px;
		@extend .font-size-small;
		text-align: left;
	}
	
	&__row {
		@include grid-row;
	}
	&__col {
		
		@include grid-col(12);
		margin-bottom: 0px;
		overflow: auto;
			
		@include breakpoint(medium){
			@include grid-col(6);
			
			&:first-child {
				padding-left: 0px;
				padding-right: 20px;
			}
			&:last-child {
				padding-left: 20px;
				padding-right: 0px;
			}
		}
		@include breakpoint(large){
			
			&:first-child {
				padding-left: 0px;
				padding-right: 40px;
			}
			&:last-child {
				border-top: 0px;
				padding-left: 40px;
				padding-right: 0px;
			}
		}
	}
}


.list {
	margin-left: 0px;
	padding-left: 20px;
	margin-bottom: 20px;
	list-style-type: circle;
	
	li {
		margin-bottom: 17px;
		list-style-type: circle;
	}
}

.toggle {
	
	max-height: 0px;
	overflow: hidden;
	transition: max-height 0.3s;
	
	@include breakpoint(medium){
		max-height: 2000px;
		overflow: auto;
	}
	
	&.active {
		max-height: 2000px;
		overflow: auto;
	}
}
.toggle-icon {
	text-align: center;
	opacity: 0.7;
	@include hide-for(medium);
	
	img {
		
	}
	
	&.active {
		opacity: 1;
		transform: rotate(45deg);
	}
	
	&:hover {
		opacity: 1;
	}
}

.toggle-btn {
	@include hide-for(medium);
	width: 40px;
	margin: 20px auto 0px auto;
	color: $secondary-color;
	transition: color 0.2s;
	
	&:hover {
		color: $white;
	}
}

.toggle-link {
	@include hide-for(medium);
}







.call-to-action {
	padding-top: 50px;
	padding-bottom: 40px;
	background-color: $body-background-darkest;
	color: $primary-color-light;
	display: block;
	transition: background-color 0.2s;
	@extend .font-size-regular;
	
	&:hover {
		color: $primary-color-light;
		background-color: #2a2b2f;
	}
	
	img {
		margin-top: 40px;
	}
}