// --------------------------------------------------
// Forms
// --------------------------------------------------

.forms {

	&--light {
		input {
			height: 44px;
			padding-left: 10px;
			padding-right: 10px;
			background-color: transparentize($dark-gray, 0.9);
			border: 1px solid transparentize($primary-color-light, 0.5);
			color: $dark-gray;
			text-align: center;

			&:focus {
				background-color: transparentize($dark-gray, 0.9);
				border: 1px solid transparentize($primary-color-light, 0.5);
				color: $dark-gray;
			}
		}
	}

	&--dark {
		input {
			height: 44px;
			padding-left: 10px;
			padding-right: 10px;
			background-color: transparentize($dark-gray, 0.6);
			border: 1px solid transparentize($primary-color-light, 0.5);
			color: $light-gray;
			text-align: center;

			&:focus {
				background-color: transparentize($dark-gray, 0.6);
				border: 1px solid transparentize($primary-color-light, 0.5);
				color: $light-gray;
			}
		}
	}

}
