<div class="profile">

	{% if page.layout == 'blog' %}
	<img class="profile__icon" src="/assets/img/icon-blog.svg">
	{% endif %}

	{% if page.layout == 'blog' %}
	<h1 class="editable">Toxicology medical education &amp; more</h1>
	{% else %}
	<h1 class="editable alone">Toxicology medical education &amp; more</h1>
	{% endif %}

	{% if page.url == '/blog/' %}
	<span class="subheading editable">The Blog of Allison A. Muller, PharmD</span>
	<span class="subheading--second editable">Diplomate of the American Board of Applied Toxicology</span>
	{% endif %}

</div>
