<div class="blog__sidebar">
  <div class="blog__sidebar__categories">
    <div class="blog__sidebar__title">Categories</div>
    {% for category in site.categories %}
      <a href="/blog/{{category | first}}/">{{ category | first | capitalize }}</a>
    {% endfor %}
  </div>

  <a href="/services" class="blog__sidebar__call-to-action editable">
    Litigation consultant.<br>
    Expert Witness.<br>
    Medical Writer.

    <span>Services by<br>Acri Muller Consulting</span>
  </a>

  <div class="blog__sidebar__contact">
    <div class="blog__sidebar__title">Contact Dr. Allison Muller</div>
    <span class="editable">Acri Muller Consulting, LLC.</span>
    <span class="editable">(215) 593 5805</span>
    <span class="editable">Allison@AcriMullerConsulting.com</span>
  </div>

</div>
