<div class="blog__sidebar">
  <div class="blog__sidebar__categories">
    <div class="blog__sidebar__title">Categories</div>
    {% for category in site.saved_categories %}
      {% if site.categories[category] %}
      <a href="/blog/{{category | slugify}}/">{{ category | capitalize }}</a>
      {% endif %}
    {% endfor %}
  </div>

  {% if page.layout == 'post' %}
  <a href="/services" class="blog__sidebar__call-to-action editable">
    Litigation Consultant.<br />
    Expert Witness.<br />
    Medical Writer.

    <span>Services by<br />Acri Muller Consulting</span>
  </a>
  {% endif %}

  {% if page.layout == 'blog' %}
    {% include components/newsletter-signup--blog-sidebar.html %}
    <a href="/services" class="blog__sidebar__call-to-action editable">
      Litigation Consultant.<br />
      Expert Witness.<br />
      Medical Writer.

      <span>Services by<br />Acri Muller Consulting</span>
    </a>
  {% endif %}

  <div class="blog__sidebar__contact">
    <div class="blog__sidebar__title">Contact Dr. Allison Muller</div>
    <span class="editable">Acri Muller Consulting, LLC.</span>
    <span class="editable">(215) 593 5805</span>
    <span class="editable">Allison@AcriMullerConsulting.com</span>

    {% assign pages = site.pages | where:"permalink","/contact/" %}
    {% for page in pages %}
      <a href="{{page.vcard_path}}">
        <img src="/assets/img/icon-vcard.svg" />
        Download vCard
      </a>
    {% endfor %}
  </div>

</div>
