<div class="profile">

	{% if page.layout == 'blog' %}
	<img class="profile__icon" src="/assets/img/icon-blog.svg">
	{% endif %}

	{% if page.layout == 'blog' %}
	<h1 class="editable"><a href="/blog">Toxicology, medical education, &amp; more</a></h1>
	{% else %}
	<h1 class="editable alone"><a href="/blog">Toxicology, medical education, &amp; more</a></h1>
	{% endif %}

	{% if page.layout == 'blog' %}
	<span class="subheading editable">The Blog of Allison A. Muller, PharmD</span>
	<span class="subheading--second editable">Diplomate of the American Board of Applied Toxicology</span>
	{% endif %}

</div>
