<footer class="footer">
	<img class="footer__logo" src="/assets/img/footer-logo.svg" />
	<span class="footer__company-name editable">Acri Muller Consulting, LLC</span>
	<div class="footer__meta editable">
		<p><a href="mailto:allison@acrimullerconsulting.com">allison@acrimullerconsulting.com</a><br /><a href="tel: 215-593-5805">(215) 593 5805</a><br /><br />Providing essential communication...not just essential information</p>
	</div>
	<div class="footer__meta editable">
		<p>Copyright &copy; 2020. All Rights Reserved</p>
	</div>
</footer>