<div class="profile">
			
	{% if page.url == '/' %}
	<img class="profile__img" data-interchange="
	[/uploads/allison-profile-2021.jpg, small], 
	[/uploads/allison-profile-2021.jpg, retina],
	[/uploads/allison-profile-2021.jpg, large], 
	" />
	{% endif %}

	<h1 class="editable">
		Acri Muller Consulting
	</h1>
	<span class="subheading editable">Allison A. Muller, PharmD, D.ABAT, FAACT</span>
	<span class="subheading--second editable">Diplomate of the American Board of Applied Toxicology (D.ABAT) and fellow of the american academy of clinical Toxicology (FAACT)</span>

	{% if page.url == '/' %}
	<div class="editable">
		<p>Dr. Allison Muller is a board-certified toxicologist and a Pennsylvania-registered pharmacist, with over 30 years’ experience at The Children’s Hospital of Philadelphia and the University of Pennsylvania in teaching, writing, and clinical practice.</p>
	</div>

	<div class="downarrow">
		<img src="/assets/img/icon-downarrow.svg" />
	</div>
	{% endif %}

</div>
