<div class="profile">
			
	{% if page.url == '/' %}
	<img class="profile__img" data-interchange="
	[/assets/img/profile.jpg, small], 
	[/assets/img/profile@2x.jpg, retina],
	[/assets/img/profile@2x.jpg, large], 
	" />
	{% endif %}

	<h1 class="editable">Acri Muller Consulting</h1>
	<span class="subheading editable">Allison A. Muller, PharmD</span>
	{% if page.url == '/' %}
	<span class="subheading--second">Diplomate of the American Board<br> of Applied Toxicology</span>
	{% endif %}

	{% if page.url == '/' %}
	<div class="editable">
	Dr. Allison Muller is a board-certified toxicologist and a Pennsylvania-registered pharmacist, with over 20 years’ experience at The Children’s Hospital of Philadelphia and the University of Pennsylvania in teaching, writing, and clinical practice.
	</div>

	<div class="downarrow">
		<img src="/assets/img/icon-downarrow.svg" />
	</div>
	{% endif %}

</div>