<div class="off-canvas-wrapper">
	<div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

		<div class="off-canvas position-left" id="offCanvas" data-off-canvas>


			<div class="mobile-menu">

				<img src="/assets/img/footer-logo.svg">

				<ul class="menu vertical">
				  <li><a href="/">Home</a></li>
				  <li><a href="/services/">Services</a></li>
				  <li><a href="/about/">About</a></li>
				  <li><a href="/contact/">Contact</a></li>
					<li><a href="/blog/">Of Interest</a></li>
				</ul>
			</div>

		</div>


		<div class="off-canvas-content" data-off-canvas-content>

		<nav class="navbar">
			<div class="navbar__logo">
				<a href="/"><img src="/assets/img/navigation-logo.svg"></a>
			</div>
			<a href="/contact/" class="navbar__contact {% if page.url == '/contact/' %}active{% endif %}">
				<img data-toggle="offCanvas" src="/assets/img/navigation-contact.svg">
				<span class="navbar__contact__label">Contact</span>
			</a>
			<div class="navbar__expand">
				<img data-toggle="offCanvas" src="/assets/img/navigation-expand.svg">
			</div>
			<ul class="navbar__list">

				<li><a {% if page.url == '/' %} class="active" {% endif %} href="/">Home</a></li>
				<li><a {% if page.url == '/services/' %} class="active" {% endif %} href="/services/">Services</a></li>
				<li><a {% if page.url == '/about/' %} class="active" {% endif %} href="/about/">About</a></li>
				<li><a {% if page.url == '/blog/' %} class="active" {% endif %} href="/blog/">Of Interest</a></li>
			</ul>
		</nav>
