
<!doctype html>
<html lang="">
<head>

	{% include meta.html %}

</head>

<body>

	{% include components/nav.html %}

	<main class="blog">

		{% include components/blog-header.html %}

		{% include components/blog-category-bar.html %}

    <div class="blog__content">

      <div class="blog__container">

        <div class="blog__body">
    		  {% for post in paginator.posts %}
            <div class="blog__post">
              <h2><a href="{{post.url}}">{{post.title}}</a></h2>
              <span class="blog__post__date">{{post.date | date: '%B %d, %Y'}}</span>
              {{post.content}}

              <div class="blog__post__categories">
                {% for category in post.categories %}
                  <a href="/blog/{{category}}">{{category | capitalize }}</a>
                {% endfor %}
              </div>

            </div>
          {% endfor %}

					{% include components/paginator.html %}

        </div>

				{% include components/blog-sidebar.html %}

      </div>
    </div>

	</main>

	{% include components/pages-grid.html %}

	{% include components/footer.html %}

	{% include foot.html %}

</body>
</html>
