
<!doctype html>
<html lang="">
<head>

	{% include meta.html %}

</head>

<body>

	{% include components/nav.html %}

	<main class="blog">

		{% include components/blog-header.html %}

    {% include components/blog-category-bar.html %}

    <div class="blog__content">
      <div class="container">

        <div class="blog__body">

            <div class="blog__post">
              <h1><a href="{{post.url}}">{{page.title}}</a></h1>
              <span class="blog__post__date">{{page.date | date: '%B %d, %Y'}}</span>
              {{page.content}}

              <div class="blog__post__categories">
                {% for category in page.categories %}
                  <a class="button-pill button-pill--outline-blue" href="/blog/{{category}}">{{category}}</a>
                {% endfor %}
              </div>

            </div>

						{% include components/newsletter-signup--post.html %}

        </div>

        {% include components/blog-sidebar.html %}

      </div>
    </div>

	</main>

	{% include components/pages-grid.html %}

	{% include components/footer.html %}

	{% include foot.html %}

</body>
</html>
